html {
	height: 100vh;
	font-family: Helvetica, sans-serif;
	min-width: 600px;
	max-width: 1110px;
	margin: auto;
}

body {
	padding: 2vw;
}

#title {
	text-align: center;
	background-color: rgb(207, 225, 255);
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 20px;
	font-size: xxx-large;
}

.col {
	width: 30%;
}