html {
	height: 100vh;
	font-family: Helvetica, sans-serif;
	min-width: 600px;
	max-width: 1110px;
	margin: auto;
}

#anim {
	color: white;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 300vh;
}

#background {
	height: 100vh;
	background-color: white;
}

canvas {
	position: fixed;
	left: 50%;
	top: 50%;
	max-height: 100vh;
	max-width: 100vw;
	transform: translate(-50%, -50%);
}

#content {
	height: 100vh;
	display: block;
	box-sizing: border-box;
	padding: 2vw;
	overflow-y: scroll;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 50%;
	
	max-width: 25%;
	max-height: 175px;
	height: auto;
}

#image-background {
	background-color: rgb(207, 225, 255);
	border-radius: 20px;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

a:link, a:visited {
	text-decoration: none;
	color: rgb(135, 179, 255)
}

p {
	line-height: 1.75;
}

table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#japanese {
	left: 0;
}

/*
Table styles
*/
th {
	font-size: xxx-large;
}

td.link {
	vertical-align: middle;
	text-align: center;
	padding-left: 10px;
}